<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\HWProjects\Course2\Semester4\Programming\SpaceOfEternity\SpaceOfEternity.jar</jar>
  <outfile>C:\HWProjects\Course2\Semester4\Programming\SpaceOfEternity\SpaceOfEternity.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\HWProjects\Course2\Semester4\Programming\SpaceOfEternity\SpaceOfEternity.ico</icon>
  <jre>
    <path>OpenJDK JDK 17.0.2</path>
    <bundledJre64Bit>false</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion></minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>preferJre</jdkPreference>
    <runtimeBits>64/32</runtimeBits>
    <opt>--module-path &quot;library\lib&quot; --add-modules javafx.base,javafx.controls,javafx.fxml,javafx.media,java.sql -jar target\SpaceOfEternity.jar</opt>
  </jre>
</launch4jConfig>